.wedo {
	.job-manager-application-wrapper, .single_job_listing {
		 .application {
		 	margin-bottom: 0;
		 	.application_details {
				@include rems(padding, 4);
				box-shadow: none;
				margin-bottom: 0;
				@include border-radius(10px);
				&:before, &:after {
					@include rems(left, 4);
				}
				form {
					&.job-manager-application-form, &.apply_with_resume {
						@include rems(padding, 2, 0);
						border-bottom: 1px solid #eee;
						&:first-child {
							padding-top: 0;
						}
						&:last-child {
							padding-bottom: 0;
							border-bottom: 0;
						}
					}
				}
				hr {
					display: none;
				}
			}
		}
	}
}
