article {
	@include clearfix;
	background: #fff;
	@include rems(padding, 8);
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

	&.small {
		@include rems(padding, 4);
	}
	&.cover {
		@include rems(margin-top, -8);
		position: relative;
		z-index: 200;
	}
}
