.button {
	display: inline-block;
	background: $main;
	color: #fff;
	font-family: $headings;
	text-decoration: none;
	@include border-radius(4px);
	@include rems(padding, 1, 4);
	transition: 0.4s all ease;
	@include rems(margin-right, 1);
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		@include opacity(0.8);
	}
	&.small {
		@include rems(padding, 0.5, 2);
	}
	&.worthing {
		background: $worthing;
	}
	&.guildford {
		background: $guildford;
	}
	&.outline {
		background: none;
		color: $main;
		border: 2px solid $main;
		&:hover {
			color: #fff;
			background: $main;
			opacity: 1;
		}
		&.white {
			color: #fff;
			border: 2px solid #fff;
			&:hover {
				background: #fff;
				color: $main;
				.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
					color: $worthing;
				}
				.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
					color: $guildford;
				}
			}
		}
	}
	&.block {
		display: block;
		@include rems(margin, 0, 0, 1);
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.angle{
		@include angle-right;
		&:before {
			float: right;
		}
	}
	.page-feature & {
		@include font-size(1.8, 2.2);
		@include rems(margin, 4, 1, 0, 0);
		&:last-child {
			margin-right: 0;
		}
	}
}
