.wedo {
	#resume-manager-candidate-dashboard {
		table.resume-manager-resumes {
			width: 100%;
			th, td {
				@include rems(padding, 1);
				text-align: left;
				font-weight: normal;
				vertical-align: center;
				border-bottom: 1px solid #eee;
				a {
					text-decoration: none;
				}
			}
			th {
				font-family: $headings;
				color: #fff;
				background: $main;
				border-right: 1px solid #fff;
				&:last-child {
					border-right: none;
				}
			}
			td {
				ul.candidate-dashboard-actions {
					visibility: visible;
					@include font-size(1.2, 1.6);
					@include rems(margin, 0.5, 0, 0);
					li {
						a {
							color: $body;
							transition: 0.4s all ease;
							&:hover {
								color: $main;
							}
							&.candidate-dashboard-action-delete {
								&:hover {
									color: red;
								}
							}
						}
						&:before {
							content: '';
							display: none;
						}
					}
				}
			}
		}
	}
}
