.faq-trigger {
	display: block;
	border-bottom: 1px solid #eee;
	color: $body;
	text-decoration: none;
	@include font-size(2.2, 2.6);
	@include rems(padding, 1, 0);
	font-family: $headings;
	transition: 0.4s all ease;
	&:first-child {
		padding-top: 0;
	}
	&:before {
		@include icon('\f067');
		float: right;
		color: $main;
		transition: 0.4s all ease;
	}
	&.active {
		border-bottom: 1px solid $main;
		&:before {
			@include icon('\f068');
		}
	}
}
.faq-content {
	display: none;
	@include rems(padding, 2, 0);
	&.open {
		display: block;
	}
}
