.page-feature, .cv-upload-section {
	position: relative;
	overflow: hidden;
	color: #fff;
	@include font-size(2.6, 3);
	transition: 0.4s all ease;
	.page-feature-blur {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		@include rems(left, -4);
		@include rems(right, -4);
		@include rems(bottom, -4);
		@include rems(top, -4);
		z-index: 1;
		filter: blur(10px);
		transition: 0.4s all ease;
	}
	.page-feature-grad {
		position: relative;
		z-index: 10;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0.6+50,0.1+100 */
		background: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 */
	}
}
