footer {
	background: $blue;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	.footer-form {
		@include rems(padding, 4, 0);
		background: #ededed;
		border-top: 1px solid #eee;
		.footer-container {
			//justify-content: center;
		}
	}
	.footer-main {
		@include rems(padding, 4, 0);
		color: #fff;
	}
	.footer-meta {
		@include rems(padding, 2, 0);
		background: #111;
		@include font-size(1.6, 2);
		color: #fff;
		a {
			color: #fff;
			text-decoration: none;
		}
		p {
			margin-bottom: 0;
		}
	}
}
.footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include rems(max-width, 120);
	width: 90%;
	margin: 0 auto;
	.footer-form & {
		align-items: flex-start;
	}
	&.flex-top {
		align-items: flex-start;
	}
	i {
		@include rems(margin-right, 1);
	}
	.footer-col {
		position: relative;
		&.worthing-office {
			a, i {
				color: $worthing;
			}
		}
		&.guildford-office {
			a, i {
				color: $guildford;
			}
		}
	}
	img {
		float: right;
		@include rems(margin-bottom, 1);
		display: block;
	}
	ul.footer-socials {
		@include clearfix;
		li {
			@include font-size(2.4, 2.4);
			float: left;
			a {
				color: #fff;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
