.form-split {
	@include clearfix;
	margin-bottom: 2%;
	aside {
		@include rowMachine(2, 2%);
		padding: 0!important;
		input[type=email], input[type=text], input[type=tel], textarea {
			margin-bottom: 0 !important;
		}
	}
	&.three-split {
		@include rems(margin, 4);
		aside {
			@include rowMachine(3, 2%);
			&:nth-child(2n+1) {
				clear: none;
			}
		}
	}
}
fieldset {
	border: none;
}
input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], textarea {
	width: 100% !important;
	@include box;
	@include rems(padding, 1);
	-webkit-appearance: none;
	border-radius: 0;
	margin: 0;
	@include rems(margin-bottom, 2);
	outline: none;

	// Custom Styles

	background: #fff !important;
	font-family: $body-font !important;
	@include font-size(1.6, 2.2);
	border: 1px solid #ccc !important;
	@include border-radius(4px);
	color: $body;
	transition: 0.4s all ease;
	&:last-child {
		margin-bottom: 0;
		.widget &, .module & {
			@include rems(margin-bottom, 2);
		}
	}
	&:focus {
		border: 1px solid $main !important;
		.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
			border: 1px solid $worthing !important;
		}
		.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
			border: 1px solid $guildford !important;
		}
	}
}
input[type="submit"], input[type="button"],
.wedo .job-manager-application-wrapper .application .application_button, 
.wedo .single_job_listing .application .application_button {
	text-decoration: none;
	@include hover;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;

	// Custom Styles

	@include border-radius(4px);
	background: $main;
	color: #fff;
	@include rems(padding, 1, 2);
	border: none;
	font-family: $headings;
	@include font-size(1.6, 2.2);
	.footer-form & {
		background: $main !important;
	}
	&.application_button {
		@include rems(padding, 1, 2);
		margin: 0;
	}
	.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
		background: $worthing;
	}
	.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
		background: $guildford;
	}
}
select {
	background-image: url('images/select@2x.png');
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 14px auto;
	background-size: 1.4rem auto;
	@include rems(padding, 1, 5.4, 1, 1);
	width: 100%;
	@include box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	border-radius: 0;
	@include rems(margin-bottom, 2);
	outline: none;

	// Custom Styles

	background-color: #fff;
	font-family: $body-font;
	@include font-size(1.6, 2.2);
	border: 1px solid #ccc;
	color: #333;
	@include border-radius(4px);
	&:last-child {
		margin-bottom: 0;
		.widget &, .module & {
			@include rems(margin-bottom, 2);
		}
	}
	.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
		background-image: url('images/select-worthing@2x.png');
	}
	.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
		background-image: url('images/select-guildford@2x.png');
	}
	&:focus {
		border: 1px solid $main !important;
		.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
			border: 1px solid $worthing !important;
		}
		.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
			border: 1px solid $guildford !important;
		}
	}
	&#branch-selector {
		.page-id-10 &,
		.page-id-21 &,
		.page-id-22 &,
		.page-id-23 &,
		.page-id-125 &,
		.page-id-292 &,
		.page-id-11 &,
		.page-id-30 &,
		.page-id-31 &,
		.page-id-32 &,
		.page-id-127 &,
		.page-id-291 & {
			display: none;
		}
	}
}
select::-ms-expand {
    display: none;
}
form {
	@include clearfix;
	input[type="submit"] {
		float: right;
	}
	p {
		margin-bottom: 0;
	}
	br, hr {
		display: none;
	}
	.footer-form & {
		p {
			width: 100%;
			display: flex;
			align-items: center;
		}
		input {
			margin-bottom: 0;
			@include rems(max-width, 26);
		}
		span {
			display: block;
			@include rems(margin, 0, 1, 0, 0);
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.ajax-loader {
		display: none !important;
	}
	label {
		font-family: $headings;
		@include rems(margin, 0, 0, 0.5, 1);
		color: $body;
		font-weight: normal;
		display: inline-block;
		.cv-upload-section & {
			color: #fff;
		}
	}
	fieldset {
		@include clearfix;
		&.fieldset-local_office {
			.page-id-10 &,
			.page-id-21 &,
			.page-id-22 &,
			.page-id-23 &,
			.page-id-125 &,
			.page-id-292 &,
			.page-id-11 &,
			.page-id-30 &,
			.page-id-31 &,
			.page-id-32 &,
			.page-id-127 &,
			.page-id-291 & {
				display: none;
			}
		}
	}
	&.form-widget {
		.gjm-filters-wrapper {
			display: none;
		}
	}
}
