body {
	font-family: $body-font;
	color: $body;
	@include font-size(1.8, 2.4);
	&.single-job_listing {
		.page-content {
			@include vertical-grad(#ededed, #fff);
		}
	}
}
.container {
	@include rems(max-width, 120);
	@include clearfix;
	&.main {
		@include rems(padding, 4, 0);
	}
	&.ultra {
		@include rems(padding, 8, 0);
	}
	&.extra-bottom {
		@include rems(padding-bottom, 16);
	}
	&.narrow {
		@include rems(max-width, 80);
	}
	&.no-top {
		padding-top: 0;
	}
}
.page-content {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	transition: 0.4s all ease;
}
.acf-map {
	@include rems(height, 40);
}
img {
	&.alignright, &.alignleft {
		display: block;
		@include rems(margin-bottom, 2);
	}
	&.alignright {
		float: right;
		@include rems(margin-left, 2);
	}
	&.alignleft {
		float: left;
		@include rems(margin-right, 2);
	}
	&.aligncenter {
		margin: 0 auto;
		@include rems(margin-bottom, 2);
		display: block;
	}
}
.background-grad {
	@include vertical-grad(#ededed, #fff);
	border-top: 1px solid #eee;
}
.page-sidebar {
	width: 30%;
	&.cover {
		@include rems(margin-top, -8);
		position: relative;
		z-index: 200;
	}
	&.left {
		@include rems(margin-right, 4);
	}
}
.page-main {
	width: 65%;
	width: calc(70% - 40px);
	width: calc(70% - 4rem);
	&.cover {
		@include rems(margin-top, -8);
		position: relative;
		z-index: 200;
	}
	&.left {
		@include rems(margin-right, 4);
	}
}
