header {
	@include rems(padding, 1, 0);
	background: #fff;
	border-bottom: 1px solid #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #fff;
	.container {
		display: flex;
		align-items: center;
	}
	h1, h2 {
		background: url('images/header-logo@2x.png') center left no-repeat;
		background-size: contain;
		width: 19%;
		@include rems(max-width, 21);
		@include rems(height, 11);
		text-indent: -10000px;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.header-buttons {
		li {
			@include rems(margin-bottom, 0.5);
			&:last-child {
				margin: 0 !important;
			}
		}
		a {
			display: block;
			@include rems(padding, 0.5, 2);
		}
		@media #{$laptop} {
			position: absolute;
			@include rems(top, 1);
			@include rems(right, 4);
			@include clearfix;
			li {
				@include rems(margin, 0, 0.5);
				float: left;
			}
		}
	}
	/*
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 900;
	transition: 0.4s all ease;
	display: flex;
	align-items: stretch;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
	@include border-radius(0 0 10px 0);
	.nav-trigger {
		background: $main;
		display: flex;
		align-items: center;
		justify-content: center;
		@include rems(padding, 4);
		text-decoration: none;
		color: #fff;
		@include font-size(3, 3);
	}
	h1, h2 {
		background: url('images/header-logo.png') center left no-repeat;
		background-size: contain;
		width: 100%;
		@include rems(width, 23);
		@include rems(height, 11);
		text-indent: -10000px;
		@include rems(margin, 2);
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	*/
}
.headroom {
    will-change: transform;
    transition: 0.4s all ease;
}
.headroom--pinned {
    transform: translateY(0%);
    opacity: 1;
}
.headroom--unpinned {
    transform: translateY(-100%);
    opacity: 0;
}
