@font-face{
	font-family:"HelveticaNeueW01-45Ligh";
	src:url("fonts/helvetica/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
	src:url("fonts/helvetica/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url("fonts/helvetica/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2") format("woff2"),url("fonts/helvetica/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("fonts/helvetica/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("fonts/helvetica/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face{
	font-family:"HelveticaNeueW01-46Ligh";
	src:url("fonts/helvetica/a4f9f319-dec9-4afc-8b50-e18cc1b61cb4.eot?#iefix");
	src:url("fonts/helvetica/a4f9f319-dec9-4afc-8b50-e18cc1b61cb4.eot?#iefix") format("eot"),url("fonts/helvetica/09f28057-e848-49b3-94bf-bfaefff51b64.woff2") format("woff2"),url("fonts/helvetica/8e9ee02b-f337-4f13-ad6c-969d6d6536c8.woff") format("woff"),url("fonts/helvetica/beddbbc6-203e-4f36-8960-3f5ca22af567.ttf") format("truetype"),url("fonts/helvetica/af177436-d9e8-44e8-9c9c-ef2d945f20a3.svg#af177436-d9e8-44e8-9c9c-ef2d945f20a3") format("svg");
}
@font-face{
	font-family:"HelveticaNeueW01-55Roma";
	src:url("fonts/helvetica/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
	src:url("fonts/helvetica/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"),url("fonts/helvetica/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2") format("woff2"),url("fonts/helvetica/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url("fonts/helvetica/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url("fonts/helvetica/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
@font-face{
	font-family:"HelveticaNeueW01-56It";
	src:url("fonts/helvetica/58a5cbff-d570-4c18-a5e3-60868dc07ae8.eot?#iefix");
	src:url("fonts/helvetica/58a5cbff-d570-4c18-a5e3-60868dc07ae8.eot?#iefix") format("eot"),url("fonts/helvetica/462d508d-efc7-478f-b84e-288eeb69a160.woff2") format("woff2"),url("fonts/helvetica/2c056da8-4920-4e20-8c69-8a6b315458a9.woff") format("woff"),url("fonts/helvetica/2381d918-136d-444f-8391-db0cba6da388.ttf") format("truetype"),url("fonts/helvetica/d0697971-6f58-4597-942e-8beabd1adc87.svg#d0697971-6f58-4597-942e-8beabd1adc87") format("svg");
}
@font-face{
	font-family:"HelveticaNeueW01-75Bold";
	src:url("fonts/helvetica/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
	src:url("fonts/helvetica/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"),url("fonts/helvetica/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2") format("woff2"),url("fonts/helvetica/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"),url("fonts/helvetica/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"),url("fonts/helvetica/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}
@font-face{
	font-family:"HelveticaNeueW01-76Bold";
	src:url("fonts/helvetica/9eb382e7-b9a0-4ec0-86b3-7a690b9e127b.eot?#iefix");
	src:url("fonts/helvetica/9eb382e7-b9a0-4ec0-86b3-7a690b9e127b.eot?#iefix") format("eot"),url("fonts/helvetica/d73c0f40-68f5-479e-9170-34a47382ed7a.woff2") format("woff2"),url("fonts/helvetica/628a0837-f9e0-4b32-83c4-d99689b9da93.woff") format("woff"),url("fonts/helvetica/4d9ecce0-f253-49fd-8623-b0f896b12794.ttf") format("truetype"),url("fonts/helvetica/dcdd4c31-466f-43f5-85c9-9bcdcd814139.svg#dcdd4c31-466f-43f5-85c9-9bcdcd814139") format("svg");
}

/* Helvetica Styles */

$light: 'HelveticaNeueW01-45Ligh', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$lightit: 'HelveticaNeueW01-46Ligh', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$regular: 'HelveticaNeueW01-55Roma', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$italic: 'HelveticaNeueW01-56It', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$bold: 'HelveticaNeueW01-75Bold', "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$boldit: 'HelveticaNeueW01-76Bold', "HelveticaNeue-Bold", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
