.background-icon {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-50%);
	z-index: 0;
	margin: 0;
	color: $main;
	@include opacity(0.08);
	.module & {
		@include rems(top, -4);
		@include rems(left, 4);
	}
	.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
		color: $worthing;
	}
	.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
		color: $guildford;
	}
	&.right {
		top: inherit;
		left: inherit;
		bottom: 0; 
		right: 0;
		transform: translateX(50%);
	}
	&.large {
		@include font-size(36, 36);
	}
	&.small {
		@include font-size(16, 16);
	}
	.footer-main & {
		color: #3f4e5d;
		//z-index: -1;
	}
}
.foreground-content {
	position: relative;
	z-index: 1;
	@include clearfix;
}
