.wedo {
	// Override templates
	.job_listings {
		margin: 0;
		form {
			border: none;
			position: relative;
			@include font-size(1.8, 2.4);
			-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
					box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
			z-index: 1000;
			&:after {
				width: 0;
				height: 0;
				border-style: solid;
				@include rems(border-width, 1, 1, 0, 1);
				border-color: #f9f9f9 transparent transparent transparent;
				content: '';
				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				@include rems(margin-left, -1);
			}
			ul.job_types {
				li {
					@include rems(padding, 1, 2);
					label {
						margin: 0;
					}
				}
			}
			.gjm-filters-wrapper {
				clear: both;
				padding-top: 2%;
				border-top: 1px solid #ccc;
				@include clearfix;
				aside {
					margin-bottom: 0 !important;
				}
				& > div {
					float: left;
					width: 32%;
					margin-right: 2%;
					&:nth-child(3n) {
						margin-right: 0;
					}
				}
			}
		}
	}
	.page-feature {
		.meta {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			@include rems(padding, 1);
			font-family: $headings;
			color: #fff;
			@include clearfix;
			li {
				padding: 0;
				@include rems(margin, 0, 2, 0, 0);
				color: #fff;
				float: left;
				@include font-size(1.8, 2.4);
				i {
					@include rems(margin-right, 0.5);
					//color: $main;
				}
				a {
					color: #fff;
					text-decoration: none;
				}
				&:last-child {
					margin-right: 0;
				}
				&:before {
					display: none;
				}
				&.job-type {
					background: none;
				}
			}
		}
	}
	.job-manager .freelance, .job-types .freelance, .job_listing .freelance,
	.job-manager .full-time, .job-types .full-time, .job_listing .full-time,
	.job-manager .job-type, .job-types .job-type, .job_listing .job-type,
	.job-manager .part-time, .job-types .part-time, .job_listing .part-time,
	.job-manager .internship, .job-types .internship, .job_listing .internship,
	.job-manager .temporary, .job-types .temporary, .job_listing .temporary, {
		color: $main;
	}
	article {
		ul.job_types {
			@include rems(margin, -4, -4, 4);
			border-bottom: 1px solid #eee;
			background: #f9f9f9;
			@include clearfix;
			li {
				float: left;
				@include box;
				border-right: 1px solid #f5f5f5;
				margin-bottom: 0;
				padding: 0;
				label {
					@include rems(padding, 1, 2);
					display: flex;
					align-items: center;
					input {
						@include rems(margin-right, 1);
					}
				}
				&:last-child {
					border-right: none;
				}
				&:before {
					display: none;
				}
			}
		}
		.showing_jobs {
			@include clearfix;
			@include rems(margin-bottom, 2);
			display: flex;
			align-items: center;
			span {
				display: block;
				margin-right: auto;
			}
			a {
				display: block;
				border: 1px solid $body;
				color: $body;
				@include rems(padding, 0.2, 1);
				font-family: $headings;
				text-decoration: none;
				@include rems(margin-right, 0.2);
				@include font-size(1.4, 1.4);
				@include border-radius(2px);
				transition: 0.4s all ease;
				&:hover {
					background: $body;
					color: #fff;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.job_application {
			clear: both;
		}
	}
}	
