.landing-stats {
	text-align: center;
	.stats-circles {
		width: 100%;
		display: flex;
		justify-content: center;
		aside {
			width: calc((100% - 160px) / 3);
			width: calc((100% - 16rem) / 3);
			@include rems(margin, 0, 4);
			@include rems(max-width, 20);
		}
		.stat-circle {
			@include rems(width, 16);
			@include rems(height, 16);
			@include box;
			border: 8px solid $main;
			background: rgba(40, 138, 89, 0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			@include border-radius(50%);
			margin: 0 auto;
			@include rems(margin-bottom, 4);
			h2 {
				@include font-size(6, 6);
				margin-bottom: 0;
				font-family: $body-font;
				font-weight: 700;
			}
		}
		h3 {
			font-family: $headings;
			@include font-size(2.2, 2.6);
		}
	}
	.page-feature-blur {
		background: url('images/home-stats-bg.jpg');
	}
}
.landing-quotes {
	.container {
		position: relative;
	}
}
