@mixin icon($icon) {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;  
  content: $icon;
}
@mixin font-size($size:1.6, $line: $size * 1.5){
    font-size:   ($size * 10) + px;
    line-height: ($line * 10) + px;
    font-size:   $size + rem;
    line-height: $line + rem;
}
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rems($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*10}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
  }
  &:nth-child(#{$numPerRow}n+1) {
    clear: both;  
  }
  &:nth-child(#{$numPerRow}n+1):nth-last-child(-n+#{$numPerRow}),
  &:nth-child(#{$numPerRow}n+1):nth-last-child(-n+#{$numPerRow}) ~ * {
    margin-bottom: 0;
  }
}
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */ 
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;  
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin columns($count: 3, $gap: 10) {
  -webkit-column-count: $count;
  -moz-column-count:    $count;
  column-count:         $count;

  -webkit-column-gap:   $gap;
  -moz-column-gap:      $gap;
  column-gap:           $gap;

  * {

    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:   avoid;
    -o-column-break-inside:     avoid;
    -ms-column-break-inside:    avoid;
    column-break-inside:        avoid;

  }
}
@mixin background-cover {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}

@mixin hover {
  transition: 0.4s all ease;
  &:hover {
    @include opacity(0.8);
  }
}

/* Font-Awesome Mixins */

@mixin chevron-right {
  &:before {
    @include icon('\f054');
  }
}
@mixin chevron-left {
  &:before {
    @include icon('\f053');
  }
}
@mixin chevron-up {
  &:before {
    @include icon('\f077');
  }
}
@mixin chevron-down {
  &:before {
    @include icon('\f078');
  }
}
@mixin angle-right {
  &:before {
    @include icon('\f105');
  }
}
@mixin angle-left {
  &:before {
    @include icon('\f104');
  }
}
@mixin angle-up {
  &:before {
    @include icon('\f106');
  }
}
@mixin angle-down {
  &:before {
    @include icon('\f107');
  }
}
@mixin fa-reset {
  &:before {
    content: ''
  }
}
@mixin fa-menu {
  &:before {
    @include icon('\f0c9');
  }
}
@mixin fa-close {
  &:before {
    @include icon('\f00d');
  }
}

@mixin vertical-grad($top, $bottom) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */
}
@mixin horizontal-grad($left, $right) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
  background: $left; /* Old browsers */
  background: -moz-linear-gradient(left,  $left 0%, $right 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$left), color-stop(100%,$right)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  $left 0%,$right 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  $left 0%,$right 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  $left 0%,$right 100%); /* IE10+ */
  background: linear-gradient(to right,  $left 0%,$right 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 ); /* IE6-9 */
}

@mixin blend($mode, $colour) {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: $colour;
    mix-blend-mode: $mode;
    content: '';
  }
  * {
    z-index: 10;
    position: relative;
  }
}
@mixin last-child {
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
