.split-modules {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	.module {
		overflow: hidden;
		&.half-width {
			@include rowMachine(2, 5%);
		}
		&.one-third {
			@include rowMachine(3, 2.5%);
		}
	}
}
