nav {
	header & {
		font-family: $headings; 
		@include font-size(2, 2.4);
		margin-left: auto;
		ul:not(.sub-menu) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		li {
			@include rems(padding, 0, 2);
			@media #{$laptop} {
				@include rems(padding, 0, 1);
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			a {
				color: $body;
				text-decoration: none;
				transition: 0.4s all ease;
			}
			&.menu-item-has-children {
				position: relative;
				& > ul {
					display: none;
					position: absolute;
					top: 100%;
					left: 50%;				
					@include rems(padding-top, 2);
					transform: translateX(-50%);
					white-space: nowrap;
					&:before {
						width: 0;
						height: 0;
						border-style: solid;
						@include rems(border-width, 0, 1, 1, 1);
						border-color: transparent transparent $main transparent;
						content: '';
						display: block;
						position: absolute;
						@include rems(top, 1);
						left: 50%;
						@include rems(margin-left, -1);
					}
					li {
						@include rems(padding, 0.5, 2);
						background: $main;
						&:first-child {
							@include rems(padding, 2, 2, 0.5);
							@include border-radius(5px 5px 0 0);
						}
						&:last-child {
							@include rems(padding, 0.5, 2, 2);
							@include border-radius(0 0 5px 5px);
						}
						&:only-child {
							@include rems(padding, 2);
							@include border-radius(5px);
						}
						a {
							color: #fff;
							text-decoration: none;
						}
						&:hover, &.current-page-ancestor, &.current_page_item, &.current_page_parent, &.current-menu-item {
							& > a {
								color: $body;
							}
						}
					}
				}	
				&.split-subnav {
					& > ul {
						@include clearfix;
						& > li {
							display: inline-block;
							@include box;
							@include rems(padding, 2);
							&:first-child {
								@include border-radius(5px 0 0 5px);
								@include rems(margin-right, -0.4);
							}
							&:last-child {
								@include border-radius(0 5px 5px 0);
								@include rems(margin-left, -0.4);
							}
							ul {
								@include rems(padding-top, 1);
								display: block;
								position: static;
								transform: none;
								li {
									@include rems(padding, 0.5, 0);
									&:last-child {
										padding-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
			&:hover, &.current-page-ancestor, &.current_page_item, &.current_page_parent, &.current-menu-item {
				& > a {
					color: $main;
				}
			}

		}
	}
	footer & {
		ul {
			@include clearfix;
			li {
				float: left;
				@include rems(padding, 0, 1);
				border-right: 1px solid #fff;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
					border-right: none;
				}
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}
/*
	.fixed-nav-bg {
		position: fixed;
		top: 0;
		left: 0;
		@include rems(margin-left, -30);
		transition: 0.4s all ease;
		bottom: 0;
		background: $main;
		z-index: 1000;
		@include rems(width, 30);
	}
	.fixed-nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		@include rems(margin-left, -30);
		transition: 0.4s all ease;
		background: $main;
		z-index: 1000;
		@include rems(width, 30);
		overflow-y: auto; 
		overflow-x: hidden;
		border-right: 1px solid #fff;
		@include box;
		nav {
			overflow: auto;
			ul {
				font-family: $headings;
				li {
					border-bottom: 1px solid #fff;
					@include font-size(2.2, 2.4);
					a {
						display: block;
						@include rems(padding, 1, 2, 1, 1.5);
						color: #fff;
						text-decoration: none;
						border-left: 5px solid transparent;
						border-left: 0.5rem solid transparent;
					}
					ul {
						display: none;
						background: rgba(255, 255, 255, 0.2);
						li {
							@include font-size(1.8, 2.4);
							&:last-child {
								border-bottom: none;
							}
						}
					}
					&.menu-item-has-children {
						position: relative;
						cursor: pointer;
						span {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							z-index: 10;
							display: block;
						}
						& > a {
							@include angle-down;
							&:before {
								float: right;
								transition: 0.4s all ease;
							}
						}
						&.active {
							& > a {
								&:before {
									transform: rotate(-90deg);
								}
							}
						}
					}
					&:hover, &.current-page-ancestor, &.current_page_item, &.current_page_parent, &.current-menu-item {
						& > a {
							border-left: 5px solid #fff;
							border-left: 0.5rem solid #fff;
						}
					}
				}
			}
		}
	}
*/
