.page-section {
	border-bottom: 1px solid #eee;
	.page-subsection {
		overflow: hidden;
		&.page-feature {
			text-align: center;
			img {
				position: relative;
				z-index: 100;
				display: inline-block;
				vertical-align: top;
			}
		}
		.container {
			position: relative;
			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				content: '';
				display: block;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0.6+50,0.1+100 */
				background: -moz-linear-gradient(left, rgba(40,138,89, 0) 0%, rgba(40,138,89, 0.6) 50%, rgba(40,138,89, 0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(40,138,89, 0) 0%,rgba(40,138,89, 0.6) 50%,rgba(40,138,89, 0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(40,138,89, 0) 0%,rgba(40,138,89, 0.6) 50%,rgba(40,138,89, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 */
				.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0.6+50,0.1+100 */
					background: -moz-linear-gradient(left, rgba(235, 20, 93, 0) 0%, rgba(235, 20, 93, 0.6) 50%, rgba(235, 20, 93, 0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left, rgba(235, 20, 93, 0) 0%,rgba(235, 20, 93, 0.6) 50%,rgba(235, 20, 93, 0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right, rgba(235, 20, 93, 0) 0%,rgba(235, 20, 93, 0.6) 50%,rgba(235, 20, 93, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 */
				}
				.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0.6+50,0.1+100 */
					background: -moz-linear-gradient(left, rgba(142, 68, 173, 0) 0%, rgba(142, 68, 173, 0.6) 50%, rgba(142, 68, 173, 0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left, rgba(142, 68, 173, 0) 0%,rgba(142, 68, 173, 0.6) 50%,rgba(142, 68, 173, 0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right, rgba(142, 68, 173, 0) 0%,rgba(142, 68, 173, 0.6) 50%,rgba(142, 68, 173, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 */
				}
			}
		}
		&:last-child {
			.container {
				&:after {
					display: none;
				}
			}
		}
	}
	&:nth-child(even) {
		background: #f9f9f9;
	}
	&:last-child {
		border-bottom: none;
	}
	.column {
		margin-right: 5%;
		&:last-child {
			margin-right: 0;
		}
		&.two-thirds {
			width: 65%;
		}
		&.one-third {
			width: 30%;
		}
	}
}
