.wedo {
	.cv-upload-section {
		@include font-size(1.8, 2.4);
		text-align: left;
		.page-feature-blur {
			background: url('images/resume-feature.jpg') center center no-repeat;
			background-size: cover;
		}	
		.cv-upload-form {
			width: 40%;
			@include rems(margin-right, 8);
			text-align: left;
			@include rems(padding-top, 4);
			form {
				box-shadow: none;
				border-bottom: none;
				&:after {
					display: none;
				}
			}
		}
		.cv-upload-content {
			width: 55%;
			width: calc(60% - 80px);
			width: calc(60% - 8rem);
			text-align: left;	
			@include rems(padding-top, 4);
		}
		fieldset {
			border-bottom: none;
			padding: 0;
			@include rems(margin, 0, 0, 1);
			@include clearfix;
			&.account-sign-in, &.account-sign-out {
				@include rems(padding, 0, 0, 1);
				border-bottom: 1px solid #fff;
				a.button {
					display: inline;
					color: #fff;
					text-decoration: underline;
					background: none;
					padding: 0;
					
				}
			}
			&.account-sign-out {
				a.button {
					display: block;
					&:before {
						display: none;
					}
				}
			}
			&.fieldset-local_office {
				@include rems(padding, 0, 0, 2);
				@include rems(margin, 0, 0, 2);
				border-bottom: 1px solid #fff;
			}
			&.fieldset-resume_file {
				small {
					display: none;
				}
				code {
					background: #fff;
					border: 1px solid #ccc;
					@include rems(padding, 1);
					color: $body;
					@include font-size(1.4, 1.8);
					font-style: normal;
					display: block;
					@include border-radius(10px);
					@include clearfix;
					& ~ a {
						float: right;
						color: #fff;
					}
				}
			}
			label {
				width: 100%;
			}
			.field {
				width: 100%;
			}
		}
	}
}
