.wedo {
	// Override templates
	.chosen-container {
		@include font-size(1.6, 2.2);
		a {
			&.chosen-single {
				width: 100%;
				border: 1px solid #ccc;
				@include border-radius(5px);
				background: url('images/select@2x.png') right 10px center no-repeat #fff;
				background: url('images/select@2x.png') right 1rem center no-repeat #fff;
				background-size: 14px auto;
				background-size: 1.4rem auto;
				@include rems(padding, 1, 5.4, 1, 1);
				@include box;
				margin: 0;
				display: block;
				height: auto;
				input[type=text] {
					width: 100% !important;
					padding: 0 !important;
					margin: 0 !important;
				}
				& > div {
					display: none;
				}
			}
		}
		.chosen-choices {
			border: none;
			background: none;
			padding: 0;
			display: flex;
			align-items: flex-start;
			flex-flow: column-reverse wrap;
			justify-content: space-between;
			li {
				&.search-field {
					width: 100%;
					border: 1px solid #ccc;
					@include border-radius(5px);
					@include rems(padding, 1);
					background: #fff;
					@include box;
					margin: 0;
					input[type=text] {
						width: 100% !important;
						padding: 0 !important;
						margin: 0 !important;
					}
					span {
						background: $main;
						color: #fff;
						@include rems(padding, 0.5, 1);
						@include border-radius(2px);
						position: relative;
						display: inline-block;
					}
				}
				&.search-choice {
					@include rems(padding, 0.5, 1);
					@include rems(margin, 0.5, 0.5, 0, 0);
					@include border-radius(2px);
					border: none;
					color: #fff;
					background: $main;
					font-family: $headings;
					@include font-size(1.6, 1.6);
					display: flex;
					align-items: center;
					.search-choice-close {
						position: static;
						float: right;
						background: url('images/icons/icon-close@2x.png') center center no-repeat;
						background-size: contain;
						@include rems(margin-left, 1);
						@include rems(width, 1);
						@include rems(height, 1);
					}
				}
			}
		}
		.chosen-drop {
			border: none;
			background: none;
			width: 80%;
			margin-left: 10%;
			@include rems(top, 4.4);
			z-index: 500;
			.chosen-search {
				display: none;
			}
			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				@include rems(border-width, 0, 1, 1, 1);
				border-color: transparent transparent $main transparent;
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				@include rems(margin-left, -1);
			}
			ul {
				width: auto;
				margin: 0 auto;
				background: $main;
				@include rems(padding, 1);
				@include border-radius(5px);
				@include rems(margin-top, 1);
				@include font-size(1.6, 1.6);
				li {
					color: #fff;
					font-weight: 700;
					&.highlighted {
						background: #fff;
						color: $main;
						@include border-radius(2px);
					}
					&.result-selected {
						opacity: 0.5;
					}
				}
				
			}
		}
		* {
			box-shadow: none !important;
		}
	}
	.job_filters {
		.showing_jobs {
			position: absolute;
			bottom: 0;
			right: 0;
			@include rems(padding, 1, 2);
			border-top: 0;
			color: $body;
			a {
				color: $main;
			}
		}
	}
	ul.job_listings {
		li.job_listing, li {
			&:before {
				display: none;
			}
			a {
				display: flex;
				align-items: center;
				width: 100%;
				@include box;
				color: $body;
				ul.meta {
					@include font-size(1.6, 2);
					width: 30%;
					i {
						display: none;
					}
				}
				.gjm-distance-wrapper {
					margin-top: 0;
				}
			}
		}
	}
}
