.slider-container {
	position: relative;
	.module & {
		@include rems(margin, 0, 4);
	}
	.bx-next, .bx-prev {
		@include font-size(3, 3);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: $main;
		.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
			color: $worthing;
		}
		.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
			color: $guildford;
		}
	}
	.bx-next {
		@include rems(margin-left, 8);
		left: 100%;
		.module & {
			@include rems(margin-left, 2);
		}
	}
	.bx-prev {
		@include rems(margin-right, 8);
		right: 100%;
		.module & {
			@include rems(margin-right, 2);
		}
	}
}
ul.tabs {
	border-bottom: 1px solid #eee;
	@include clearfix;
	@include rems(margin, 0, 0, 4);
	.landing-content & {
		display: flex;
		justify-content: center;
	}
	& > li {
		float: left;
		font-family: $headings;
		@include font-size(2.2, 2.6);
		border-right: 1px solid #eee;
		padding: 0;
		margin: 0;
		&:before {
			display: none;
		}
		&:last-child {
			border-right: none;
		}
		a {
			display: block;
			@include rems(padding, 0, 1, 0.8);
			border-bottom: 2px solid transparent;
			border-bottom: 0.2rem solid transparent;
			color: $body;
			text-decoration: none;
			transition: 0.4s all ease;
			&.active {
				color: $main;
				border-bottom: 2px solid $main;
				border-bottom: 0.2rem solid $main;
			}
			&:hover {
				border-bottom: 2px solid $main;
				border-bottom: 0.2rem solid $main;
			}
		}
	}
}
ul.tab-content, ul.testimonial-slider, ul.simple-testimonial-slider {
	margin: 0;
	& > li {
		margin: 0;
		padding: 0;
		&:before {
			display: none;
		}
	}
}
ul.testimonial-slider {
	display: flex;
	align-items: stretch;
	li {
		display: flex;
		flex-wrap: wrap;
	}
}
