ul.team-list {
	margin: 0;
	li {
		@include rems(padding, 4, 0);
		margin: 0;
		@include clearfix;
		border-bottom: 1px solid #eee;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}
		&:before {
			display: none;
		}
		aside {
			&.team-meta {
				@include rems(width, 30);
				@include rems(margin-right, 4);
				img {
				    // -webkit-filter: grayscale(100%);
				    // filter: grayscale(100%);
				}
			}
			&.team-content {
				width: 60%;
				width: calc(100% - 340px);
				width: calc(100% - 34rem);
			}
		}
	}
}
