a {
	color: $main;
}
h2 {
	.footer-col &, .testimonial-slider &, .simple-testimonial-slider &, .footer-form & {
		font-family: $headings;
		@include font-size(2.4, 3);
		@include rems(margin-bottom, 2);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.footer-form & {
		@include rems(line-height, 4.4);
	}
	.testimonial-slider &, .simple-testimonial-slider & {
		text-align: right;
		align-self: flex-end;
		margin-left: auto;
	}
	.footer-form & {
		@include rems(margin, 0, 2, 0, 0);
	}
	article &, .page-subsection &, .cv-upload-content &, .landing-content & {
		font-weight: 700;
		@include font-size(2.2, 2.6);
		@include rems(margin, 4, 0, 2);
		&:first-child {
			margin-top: 0;
		}
	}
	&.search-form-title {
		background: $main;
		color: #fff;
		@include font-size(2.4, 2.4);
		font-family: $headings;
		border-bottom: 1px solid #fff;
		@include rems(padding, 1, 4);
		font-weight: normal;
	}
	.widget &, &.module-title {
		font-family: $headings;
		@include rems(margin-bottom, 2);
		@include font-size(2.4, 2.4);
	}
	&.module-title {
		border-bottom: 1px solid #ccc;
		@include rems(padding-bottom, 1);
		color: $main;
		.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
			color: $worthing;
		}
		.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
			color: $guildford;
		}
	}
}
h3 {
	.job_listings & {
		font-family: $headings;
		font-weight: normal;
		margin: 0;
	}
	article &, .page-subsection & {
		font-weight: 700;
		@include font-size(2, 2.6);
		@include rems(margin, 2, 0, 1);
		span {
			display: block;
			color: $body;
		}
		&:first-child {
			margin-top: 0;
		}
	}
	.widget & {
		font-family: $headings;
		color: $main;
		@include rems(margin, 0, 0, 1);
		font-weight: 400;
	}
}
h4 {
	.page-feature & {
		font-family: $headings;
		display: inline-block;
		@include rems(margin-right, 2);
	}
}
ul {
	article &, .page-subsection & {
		@include rems(margin, 0, 0, 2, 2);
		li {
			@include rems(margin-bottom, 0.5);
			@include rems(padding-left, 1.6);
			position: relative;
			&:before {
				display: block;
				position: absolute;
				@include rems(top, 0.9);
				left: 0;
				@include rems(width, 0.6);
				@include rems(height, 0.6);
				content: '';
				background: $main;
				@include border-radius(50%);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
dl {
	@include clearfix;
	@include rems(padding-bottom, 2);
	@include rems(margin-bottom, 2);
	border-bottom: 1px solid #eee;
	dt, dd {
		float: left;
	}
	dt {
		font-family: $headings;
		clear: left;
		@include rems(margin-right, 0.5);
	}
	dd {
		@include rems(margin-bottom, 1);
		&:last-child {
			margin-bottom: 0;
		}
	}
	&:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
}

h1, h2 {	
	&.page-title, &.section-title, .page-feature & {
		font-family: $headings;
		@include font-size(4, 4.4);
		@include rems(margin-bottom, 4);
		font-weight: normal;
		color: $main;
		&.alt {
			@include rems(margin-bottom, 2);
		}
		&:last-child {
			margin-bottom: 0;
		}
		.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
			color: $worthing;
		}
		.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
			color: $guildford;
		}
	}
	&.page-title, .page-feature & {
		@include font-size(5, 5.4);
	}
	&.search-form-title {
		@include font-size(3, 3);
	}
}
h1, h2, h3, h4 {
	.page-feature &, &.white {
		color: #fff !important;
	}
	&.green {
		color: $main;
	}
}
