.widget, .module {
	background: #f9f9f9;
	border: 1px solid #eee;
	@include rems(padding, 2);
	@include border-radius(10px);
	@include box;
	position: relative;
	.page-section:nth-child(even) & {
		background: #fff;
	}
}
.module {
	@include rems(padding, 4);
	&.one-third {
		@include rems(padding, 2);
	}
}
.widget {
	h2 {
		@include rems(padding-right, 6);
	}
	i {
		position: absolute;
		top: 0;
		right: 0;
		@include rems(padding, 1);
		background: $main;
		display: block;
		color: #fff;
		@include border-radius(0 10px 0 10px);
		.page-id-10 &, .page-id-21 &, .page-id-22 &, .page-id-23 &, .page-id-125 &, .page-id-292 & {
			background: $worthing;
		}
		.page-id-11 &, .page-id-30 &, .page-id-31 &, .page-id-32 &, .page-id-127 &, .page-id-291 & {
			background: $guildford;
		}
	}
}
